p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo--dark-theme {
  color: #000000;
}

.logo--light-theme {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  color: #ffffff;
}

.web {
  color: #2196f3;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section--no-padding {
  padding-top: 0;
}

.section--other-background {
  background-color: #f5f4fa;
}

.section__title {
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-10deg) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon {
  fill: #000000;
}

.modal__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.form__field {
  margin-bottom: 10px;
}

.form__textarea {
  margin-bottom: 20px;
}

.form__field--last {
  margin-bottom: 30px;
}

.form__input,
.form__text {
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrap:focus-within .form__input {
  border-color: #2196f3;
}

.form__text {
  display: block;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.form__field:focus-within .form__text {
  border: 1px solid #2196f3;
}

.form__text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__wrap {
  position: relative;
}

.form__name-icon,
.form__tel-icon,
.form__email-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrap:focus-within .form__name-icon, .form__wrap:focus-within
.form__tel-icon, .form__wrap:focus-within
.form__email-icon {
  fill: #2196f3;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox__input:focus + .checkbox__label > .checkbox__wrap {
  outline: 1px solid #2196f3;
}

.checkbox__icon {
  fill: transparent;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon {
  fill: #fff;
}

.checkbox__input:checked + .checkbox__label > .checkbox__wrap {
  background-color: #2196f3;
  border: none;
}

.form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
  .contacts-nav {
    display: none;
  }
  .header {
    position: relative;
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-modal-menu {
    display: none;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-modal-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-modal-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-modal-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .mobile-modal-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu-btn__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-btn__icon:hover, .mobile-menu-btn__icon:focus {
    fill: #2196f3;
  }
  .mobile-modal__list {
    list-style: none;
  }
  .mobile-modal__item {
    margin-bottom: 32px;
  }
  .mobile-modal__item:last-child {
    margin-bottom: 302px;
  }
  .mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: #2196f3;
  }
  .contacts-mobile__item {
    margin-bottom: 32px;
  }
  .contacts-mobile__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-mobile__link:hover, .contacts-mobile__link:focus {
    color: #2196f3;
  }
  .contacts-phone__item {
    margin-bottom: 64px;
  }
  .contacts-phone__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-phone__link:hover, .contacts-phone__link:focus {
    color: #2196f3;
  }
  .mobile-modal-social__list {
    display: flex;
  }
  .mobile-modal-social__item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-modal-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .mobile-modal-social__link:hover, .mobile-modal-social__link:focus {
    color: #2196f3;
  }
  .mobile-modal-social__link--not-last-child::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav__link {
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
  .site-nav__link--current {
    color: #2196f3;
    position: relative;
  }
  .site-nav__link--current::after {
    position: absolute;
    left: 0;
    bottom: -38px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .site-nav__list {
    list-style: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link--current::after {
    position: absolute;
    left: 0;
    bottom: -33px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav {
    margin-left: auto;
    list-style: none;
  }
  .contacts-nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-nav__link:hover, .contacts-nav__link:focus {
    color: #2196f3;
  }
  .contacts-nav__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: flex;
  }
  .contacts-nav__item + .contacts-nav__item {
    margin-left: 50px;
  }
  .contacts-nav__icon {
    margin-right: 10px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.advantages {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__wrap {
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantages__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__title {
    line-height: 1.16;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.features {
  display: flex;
  list-style: none;
}

.features__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.features__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .section--desktop-only {
    display: none;
  }
}

.team {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  text-align: center;
}

.team__title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.16;
}

.team__position {
  font-size: 16px;
  line-height: 1.71;
  margin-bottom: 16px;
  color: #757575;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.clients {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px ) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.filter__list {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .filter__list {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item + .filter__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item {
    display: inline-block;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(4) {
    margin-left: 0;
  }
}

.filter__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  line-height: 1.63;
  border-radius: 4px;
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.projects {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .projects {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.projects__overlay {
  max-width: 370px;
  position: relative;
  overflow: hidden;
}

.projects__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #2196f3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__text,
.projects__link:focus .projects__text {
  transform: translateY(0);
}

.projects__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.projects__type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .projects__item {
    display: inline-block;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 90px) / 3);
  }
}

.projects__content {
  max-width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    padding-right: 89px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__thumb {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__thumb {
    display: inline-flex;
    align-items: baseline;
  }
}

.contact-us {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contact-us {
    margin-bottom: 0;
    text-align: left;
    flex-grow: 1;
    margin-right: 70px;
  }
}

.address {
  font-style: normal;
}

.contacts {
  display: block;
  list-style: none;
}

.contacts__link {
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
  }
}

.address__link {
  color: #ffffff;
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.join-us {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-us {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.join-us__title,
.sign-up__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .join-us__title,
  .sign-up__title {
    text-align: left;
  }
}

.join-us__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.join-us__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__link:hover,
.join-us__link:focus {
  background-color: #2196f3;
}

.join-us__item + .join-us__item {
  margin-left: 10px;
}

.join-us__icon {
  fill: #ffffff;
}

.sign-up__form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .sign-up__form {
    text-align: left;
    display: flex;
    align-items: baseline;
  }
}

.sign-up__btn {
  display: inline-flex;
  align-items: center;
  width: 200px;
  padding-right: 28px;
  padding-left: 28px;
}

@media screen and (min-width: 1200px) {
  .sign-up__btn {
    margin-left: 12px;
  }
}

.sign-up__icon {
  margin-left: 10px;
  fill: #fff;
}

.sign-up__input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;
  outline: none;
}

@media screen and (max-width: 767px) {
  .sign-up__input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    width: 358px;
  }
}
/*# sourceMappingURL=main.css.map */