@import "./utils/vars";
@import "./utils/mixins";
@import "./base/reset";
@import "./base/common";
@import "./utils/hidden";

@import "./components/container";
@import "./components/button";
@import './components/logo';
@import './components/section';
@import "./components/modal";

@import "./layout/header";
@import "./layout/site-nav";
@import "./layout/contacts-nav";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/features";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/projects";
@import "./layout/footer";

