.advantages {
    list-style: none;
    @include tab {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
  }
  
  .advantages__item {
        @media screen and (max-width: 767px) {
            &:not(:last-child) {
            margin-bottom: 30px;
            }
        }
        @include tab {
            margin: 15px;
            flex-basis: calc((100% - 60px) / 2);
        @include desk {
            flex-basis: calc((100% - 120px) / 4);
        }
        }
  }
  .advantages__wrap {

      height: 120px;
      background-color: #F5F4FA;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
  }

  .advantages__title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    @include tab {
        text-align: left;
        line-height: 1.17;
    }
    @include desk {
                line-height: 1.16;
    }
  }

  .advantages__text {
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;
  }