.features {
    display: flex;
    list-style: none;
}

.features__item {
    position: relative;
    width: calc((100% - 60px) / 3);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.features__text {

    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
    .section--desktop-only {
        display: none;
    }
}