@media screen and (max-width: 767px) {
    .site-nav__list {
        display: none;
    }

    .contacts-nav {
        display: none;
    }

    .header {
        position: relative;
    }

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 16px;
        padding-bottom: 16px;
    }


}

@include tab {
    .mobile-menu-btn {
        display: none;
    }

    .mobile-modal-menu {
        display: none;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 25px;

        border-bottom: 1px solid #ececec;
    }

    .header__container {
        display: flex;
        align-items: center;
    }
}