@include tab {
    .site-nav__list {
        display: flex;
    }

    .site-nav__item:not(:last-child) {
        margin-right: 50px;
    }

    .site-nav {
        display: flex;
        align-items: center;
    }

    .site-nav__link {
        color: $primary-text-color;
        text-decoration: none;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    .site-nav__link--current {

        color: $accent-color;
        position: relative;

        &::after {
            position: absolute;
            left: 0;
            bottom: -38px;
            content: '';
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
        }
    }

    .site-nav__list {
        list-style: none;
    }
}

@include desk {
    &::after {
        position: absolute;
        left: 0;
        bottom: -33px;
        content: '';
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
    }
}