
.team {
    list-style: none;
    @include tab {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
  }
  
 .team__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @media screen and (max-width: 767px) {
            &:not(:last-child) {
            margin-bottom: 30px;
            }
        }
        @include tab {
            margin: 15px;
            flex-basis: calc((100% - 60px) / 2);
        @include desk {
            flex-basis: calc((100% - 120px) / 4);
        }
        }
  }
  
  .team__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  
    background-color: #ffffff;
    text-align: center;
   
  }
  
  .team__title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.16;
  
  }
  
  .team__position {
    font-size: 16px;
    line-height: 1.71;
    margin-bottom: 16px;
    color: $secondary-text-color;
  }
  
  .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
  }

  .socials__item + .socials__item {
    margin-left: 10px;
}
  
  .socials__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #ffffff;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
        background-color: $accent-color;
        }
  }  
  
  .socials__icon {
      fill:#AFB1B8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .socials__link:hover &,
        .socials__link:focus & {
            fill: #ffffff; 
        }
  }
  