.container {
    padding-right: 15px;
    padding-left: 15px;

    @include tel {
        width: 480px;
        margin: 0 auto;
    }

    @include tab {
        width: 768px;
    }

    @include desk {
        width: 1200px;
    }
}