
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $btn-color: #ffffff;
    $accent-color: #2196f3;
    $hover-color: #188CE8;
    $background-section-color: #2f303a;

    $primary-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;
  